# dependencies
node_modules
.pnpm-store

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build outputs
dist
build
.next

# system / IDE
.DS_Store
.history
.vscode
.idea
*.log
