PORT=15000
DB_URI="postgresql://user:password@host/dbname?sslmode=require"
JWT_SECRET="your-jwt-secret-key"
CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name"
CLOUDINARY_API_KEY="your-cloudinary-api-key"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret"
